body,html,#wrapper
{
    height: 100%;
}


#wrapper{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

#buttons {
    display: flex;
    justify-content: center;
    flex-flow: row;
    align-items: center;
}

#gallery {
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    width: 100%;

}
img{
    margin: 2%;
    flex-wrap: wrap;
    
}

img{
    height: 20%;
    width: 10%;
}

#buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-flow: row-reverse;
}

.button{
    width: 10%;
    text-align: center;
    display: flex;
    justify-content: center;
    
}

.button a{
    display: flex;
    color: black;
    text-decoration: none;
    border: 0.1em solid ;
    padding: 1%;
    background-color: wheat;
}

