

@font-face {
    font-family: tai;
    src: url("../fonts/taile.ttf");
    font-weight: normal;
}

@font-face{
    font-family: taiBold;
    src: url("../fonts/taileb.ttf");
    font-weight: bold;
}