body, #wrapper, html
{
    height: 100%;
}

#wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

label{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

input{
    display: block;
}